

{% extends "base.html" %}
{% load static %}

{% block content  %}

<h1 style="color: #495E57">Menu</h1>
<p> This is a menu page for a Little Lemon</p> 
<img src="{% static 'img/dessert.jpg' %}">
{% endblock  %}


{% comment %} {% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<!-- Add heading code -->
 {% extends "base.html" %}
 <h1 style="color: #495E57">Menu</h1>

<!-- Add paragraph code -->
{% comment %} 
<p> {{context.about}}</p> 
{% endcomment %}

{% comment %} {% if menu %}
{%for menus in menu%}
<ul>
<li>{{menus.name}}: {{menus.price}}</li>
<br>

</ul>

{% endfor %}
{% else %}
<p> No  items to display</p> 

{% endif %}  {% endcomment %}



{% comment %} <!-- Add image code -->
<p> This is a menu page</p> 
<img src="{% static 'img/dessert.jpg' %}">
</body>
</html> {% endcomment %} 